* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background: #0098b8;
}

img {
  width: 450px;
  height: auto;
  display: block;
  margin: 30px auto 20px;
}

#cartBox, .info {
  position: fixed;
  bottom: 20px;
  width: 250px;
  height: 180px;
  padding: 20px;
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
  text-align: center;
}

#cartBox {
  right: 20px;
}

.info {
  left: 20px;
}

.info h1, .info p {
  margin: 5px 0;
  color: #222;
}

.center-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

#inputArea {
  width: 725px;
  height: 50px;
  padding: 12px 18px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-weight: 600;
  color: #222;
  background: #ffffff;
  transition: 0.2s;
}

#inputArea:hover {
  background-color: #f4f4f4;
}

#inputArea:focus {
  border-color: #6c63ff;
  outline: none;
}

#inputArea::placeholder {
  color: #777;
}

#searchBtn {
  padding: 12px 22px;
  font-size: 16px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#searchBtn:hover {
  background-color: #5753d6;
  transform: translateY(-1px);
}

#result {
  width: 800px;
  min-height: 250px;
  margin: 20px 0;
  padding: 20px;
  background: #fff8dd;
  border: 2px solid #e4e1cc;
  border-radius: 10px;
  color: #444;
  text-align: left;
  display: block;
  line-height: 1.5;
  max-height: 400px;
  overflow-y: auto;
}

#result:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#result p {
  border-bottom: 2px solid #000000;
  padding: 10px 0;
  margin: 0;
}


h1 {
  margin-top: 40px;
  color: #333;
}
