* {
    background-image: linear-gradient(to right, rgb(197, 7, 166),rgb(154, 8, 159),rgb(132, 19, 132),rgb(154, 14, 129),rgb(132, 19, 132),rgb(154, 8, 159),rgb(197, 7, 166));
    font-family: 'Montserrat', sans-serif;;
}
img {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

#cartBox {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  right: 20px;
  bottom: 20px;
  position: fixed;
  width: 15%;
  height: 15%;
  text-align: center;
  font-size: large;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#cartBox h3,
#cartBox p,
#cartBox button,
#cartBox ul {
  background-color: transparent;
}

.info {
  background-color: white;
  border: 2px solid white;
  width: 20%;
  bottom: 20px;
  height: 15%;
  left: 20px;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  border: 2px solid white;
  padding: 16px;
}
.info p {
  background-color: transparent;
  font-size: medium;
  font-weight: bold;
}
.info h1 {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
}

.search-box {
  display: flex;
  gap: 10px;
  position: relative;
}

#inputArea {
  width: 700px;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}

#inputArea::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}

#searchBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c63ff;
  color: white;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #5952d4;
}

#result {
  width: 800px;
  min-height: 250px;
  background: beige;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}

.center-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* skjult som standard */
    border-radius: 4px;
    z-index: 10;
}

.suggestions p {
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

.suggestions p:hover {
    background-color: #f0f0f0;
}
