* {
    background-color: #3f1cdbf7;
}
img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

.search-box {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}

.search-box input {
  flex: 1;
  max-width: 400px;
  padding: 10px;
  color: white;
}

.search-box button {
  padding: 10px 16px;
  color: white;
}

.buy {
    margin-right: auto;
}